* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

button, a {
    color: inherit
}

select, button {
    font-family: inherit;
}

input, button {
    border: none;
}

ul {
    list-style: none;
}

input {
    &:focus {
        outline: none;
    }
    &[type="submit"]{
        cursor: pointer;
    }
}
