@import "tailwindcss";

@theme {
	--color-*: initial;
	--color-foreground: hsla(var(--foreground));
	--color-background: hsla(var(--background));
	--color-white: #ffffff;
	--color-black: #000000;

	--color-gray-50: hsla(var(--gray-50));
	--color-gray-100: hsla(var(--gray-100));
	--color-gray-200: hsla(var(--gray-200));
	--color-gray-300: hsla(var(--gray-300));
	--color-gray-400: hsla(var(--gray-400));
	--color-gray-500: hsla(var(--gray-500));
	--color-gray-600: hsla(var(--gray-600));
	--color-gray-700: hsla(var(--gray-700));
	--color-gray-800: hsla(var(--gray-800));
	--color-gray-900: hsla(var(--gray-900));
	--color-gray-950: hsla(var(--gray-950));

	--color-primary-50: hsla(var(--primary-50));
	--color-primary-100: hsla(var(--primary-100));
	--color-primary-200: hsla(var(--primary-200));
	--color-primary-300: hsla(var(--primary-300));
	--color-primary-400: hsla(var(--primary-400));
	--color-primary-500: hsla(var(--primary-500));
	--color-primary-600: hsla(var(--primary-600));
	--color-primary-700: hsla(var(--primary-700));
	--color-primary-800: hsla(var(--primary-800));
	--color-primary-900: hsla(var(--primary-900));
	--color-primary-950: hsla(var(--primary-950));

	--color-error: hsla(var(--error));
	--color-transparent: transparent;
	--color-inherit: inherit;
	--color-current: currentColor;

	--flex-2: 2 2 0%;
	--flex-3: 3 3 0%;

	--animate-wave: wave 5s ease-in-out infinite;
	--animate-fade-in: fade-in 0.75s ease-in-out;
	--animate-shadow-pulse: shadow-pulse 1s ease-in-out infinite alternate;

	--breakpoint-lg: 1152px;

	@keyframes wave {
		0%,
		80%,
		100% {
			transform: initial;
		}
		20%,
		50% {
			transform: rotate(10deg);
		}
		35%,
		65% {
			transform: rotate(-8deg);
		}
	}
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes shadow-pulse {
		0% {
			filter: drop-shadow(
				0 0 0.5rem hsla(var(--skill-color, 0, 0%, 100%), 0.1)
			);
		}
		100% {
			filter: drop-shadow(
				0 0 0.5rem hsla(var(--skill-color, 0, 0%, 100%), 0.4)
			);
		}
	}
}

@utility card {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		inset: -2px;
		z-index: -1;
		background: conic-gradient(
			from var(--gradient-angle),
			hsla(var(--primary-300)),
			hsla(var(--primary-500)),
			hsla(var(--primary-700)),
			hsla(var(--primary-500)),
			hsla(var(--primary-300))
		);
		border-radius: inherit;
		animation: rotation 5s linear infinite;
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
	}
	&::after {
		content: "";
		position: absolute;
		inset: -2px;
		z-index: -1;
		background: conic-gradient(
			from var(--gradient-angle),
			hsla(var(--primary-300)),
			hsla(var(--primary-500)),
			hsla(var(--primary-700)),
			hsla(var(--primary-500)),
			hsla(var(--primary-300))
		);
		border-radius: inherit;
		animation: rotation 5s linear infinite;
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
	}
	&:hover::before {
		opacity: 1;
	}
	&:hover::after {
		opacity: 1;
	}
	&::after {
		filter: blur(7px);
	}
}

@utility fade-out-x {
	mask-image: linear-gradient(
		to right,
		transparent,
		black 20%,
		black 80%,
		transparent
	);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer utilities {
	@property --gradient-angle {
		syntax: "<angle>";
		initial-value: 0deg;
		inherits: false;
	}

	@keyframes rotation {
		0% {
			--gradient-angle: 0deg;
		}
		100% {
			--gradient-angle: 360deg;
		}
	}

	:root {
		--foreground: 0, 0%, 100%;
		--background: 0, 0%, 4%;
		--primary-50: 23, 100%, 96%;
		--primary-100: 24, 100%, 92%;
		--primary-200: 22, 100%, 83%;
		--primary-300: 20, 100%, 70%;
		--primary-400: 16, 99%, 61%;
		--primary-500: 14, 97%, 53%;
		--primary-600: 10, 93%, 48%;
		--primary-700: 7, 91%, 40%;
		--primary-800: 4, 81%, 34%;
		--primary-900: 4, 77%, 28%;
		--primary-950: 3, 84%, 15%;
		--gray-50: 0, 0%, 97%;
		--gray-100: 0, 0%, 94%;
		--gray-200: 0, 0%, 86%;
		--gray-300: 0, 0%, 74%;
		--gray-400: 0, 0%, 35%;
		--gray-500: 0, 0%, 28%;
		--gray-600: 0, 0%, 21%;
		--gray-700: 0, 0%, 15%;
		--gray-800: 0, 0%, 11%;
		--gray-900: 0, 0%, 10%;
		--gray-950: 0, 0%, 6%;
		--error: 9, 87%, 45%;
		--navbar-height: 5rem;
	}

	.grecaptcha-badge {
		visibility: hidden;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
	body::after {
		@apply block opacity-[0.03] -z-1 fixed content-[""] -inset-[100vh];
		background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='125%25' height='125%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply uppercase text-xl font-semibold;
	}
}

@layer components {
	[data-level="0"] {
		@apply bg-gray-900;
	}
	[data-level="1"] {
		@apply bg-primary-950;
	}
	[data-level="2"] {
		@apply bg-primary-800;
	}
	[data-level="3"] {
		@apply bg-primary-700;
	}
	[data-level="4"] {
		@apply bg-primary-500;
	}
}
